In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import random

In [4]:
np.random.seed(0)

In [5]:
car_brands = ['toyota','bmw','honda','ford','nissan','chevrolet','volkswagen','mercedes-benz','audi','hyundai','porsche','aston martin','lexus','jaguar','alpha romeo','maserati','lamborghini','koenigsegg']

In [6]:
years = np.arange(2000, 2024)

In [7]:
data = []

In [8]:
for year in years:
    for brand in car_brands:
        cars_sold = random.randint(1000, 100000)
        data.append([year, brand, cars_sold])

In [9]:
car_sales_data = pd.DataFrame(data, columns=['Year', 'Car brand','Number of Cars sold'])

In [10]:
print(car_sales_data.head())

   Year Car brand  Number of Cars sold
0  2000    toyota                40563
1  2000       bmw                28433
2  2000     honda                43184
3  2000      ford                82596
4  2000    nissan                57383

In [11]:
car_sales_data.to_csv('cars_2000_2024.csv', index= False)